@model dynamic



@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="css/404.css">

<div style="margin-top: 100px"></div>

<div class="site">
	<div class="sketch">
		<div class="bee-sketch red"></div>
		<div class="bee-sketch blue"></div>
	</div>

<h1>404:
	<small>Page Not Found</small></h1>
</div>