@model dynamic

@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            @* <div class="col-md-8 col-lg-7 col-xl-6"> *@
            @*   <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image"> *@
            @* </div> *@
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form id="registerForm" action="https://localhost:5001/">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" name="login" id="form1Example13" class="form-control form-control-lg"
                               pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                        <label class="form-label" for="form1Example13">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" name="password" id="form1Example23" class="form-control form-control-lg"
                               pattern="^^(?=.*?[A-Z]).{8,}"/>
                        <label class="form-label" for="form1Example23">Password</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" name="Name" id="form1Example23" class="form-control form-control-lg"/>
                        <label class="form-label" for="form1Example23">Name</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" name="Surname" id="form1Example23" class="form-control form-control-lg"/>
                        <label class="form-label" for="form1Example23">Surname</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" name="PhoneNumber" id="form1Example23" class="form-control form-control-lg"/>
                        <label class="form-label" for="form1Example23">Phone number</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" name="AvatarURL" id="form1Example23" class="form-control form-control-lg"/>
                        <label class="form-label" for="form1Example23">Avatar URL</label>
                    </div>

                    <!--<div class="form-outline mb-4">
                        <input type="password" id="form1Example23" class="form-control form-control-lg" />
                        <label class="form-label" for="form1Example23">Password Again</label>
                    </div>-->

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="registerSubmitButton">Sign Up</button>

                    @* <div class="divider d-flex align-items-center my-4"> *@
                    @*     <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p> *@
                    @* </div> *@
                    @* *@
                    @* <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!" role="button"> *@
                    @*     <i class="fab fa-facebook-f me-2"></i>Continue with Facebook *@
                    @* </a> *@
                    @* <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!" role="button"> *@
                    @*     <i class="fab fa-twitter me-2"></i>Continue with Twitter *@
                    @* </a> *@

                </form>

                <script>
                    registerForm.onsubmit = async (e) => {
                        e.preventDefault();
                        await fetch('https://localhost:5001/Entering/Register', {
                            method: 'POST',
                            body: new FormData(registerForm)
                        });
                        location.reload();
                    };
                </script>
            </div>
        </div>
    </div>
</section>