@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form class="form-horizontal" id="trackAddingForm" role="form" action="https://localhost:5001/Home/EditProfile">
    <div class="form-group">
        <label class="col-lg-3 control-label">Author:</label>
        <div class="col-lg-8">
            <input class="form-control" type="text" name="Author">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">Name:</label>
        <div class="col-lg-8">
            <input class="form-control" type="text" name="Name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">Time in seconds:</label>
        <div class="col-lg-8">
            <input class="form-control" type="text" name="TimeInSeconds">
        </div>
    </div>
    <div class="col-lg-8">
        <button type="submit" class="btn btn-primary">add</button>
    </div>
</form>
<script>
trackAddingForm.onsubmit = async (e) => {
                    e.preventDefault();
                    await fetch('https://localhost:5001/Tracks/Add', {
                        method: 'POST',
                        body: new FormData(trackAddingForm)
                    });
                    location.reload();
                };
</script>