@model player.DB.User

@{
    ViewBag.Title = "Edit Profile";
    Layout = "_Layout";
}

<div class="container bootstrap snippets bootdey">
    <h1 class="text-primary">Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img src="@Model!.AvatarURL" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo...</h6>

                <input type="file" class="form-control">
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                This is an <strong>.alert</strong>. Use this to show important messages to the user.
            </div>
            <h3>Personal info</h3>

            <form class="form-horizontal" id="profileEditForm" role="form" action="https://localhost:5001/Home/EditProfile">
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="Surname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Phone number:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="PhoneNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Password:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="Password">
                    </div>
                </div>
                @* <div class="form-group"> *@
                @*   <label class="col-lg-3 control-label">Company:</label> *@
                @*   <div class="col-lg-8"> *@
                @*     <input class="form-control" type="text" value=""> *@
                @*   </div> *@
                @* </div> *@
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="Login">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Avatar URL:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="AvatarURl">
                    </div>
                </div>
                @* <div class="form-group"> *@
                @*   <label class="col-lg-3 control-label">Time Zone:</label> *@
                @*   <div class="col-lg-8"> *@
                @*     <div class="ui-select"> *@
                @*       <select id="user_time_zone" class="form-control"> *@
                @*         <option value="Hawaii">(GMT-10:00) Hawaii</option> *@
                @*         <option value="Alaska">(GMT-09:00) Alaska</option> *@
                @*         <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option> *@
                @*         <option value="Arizona">(GMT-07:00) Arizona</option> *@
                @*         <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option> *@
                @*         <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option> *@
                @*         <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option> *@
                @*         <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option> *@
                @*         <option value="Moscow">(GMT-05:00) Indiana (East)</option> *@
                @*       </select> *@
                @*     </div> *@
                @*   </div> *@
                @* </div> *@
                <div class="col-lg-8">
                    <button type="submit" class="btn btn-primary">Apply changes</button>
                </div>
            </form>
            <script>
                profileEditForm.onsubmit = async (e) => {
                    e.preventDefault();
                    await fetch('https://localhost:5001/Profile/Edit', {
                        method: 'POST',
                        body: new FormData(profileEditForm)
                    });
                };
            </script>
        </div>
    </div>
</div>